.venv
.vscode

__pycache__
.pytest_cache

/build
/dist

*.spec


*.ini

*.egg-info

*.code-workspace

# exclude llm models
/resources/models

pydag/resources

# test html files from plotlify
/tests/**/plotly_*.html