.venv
.vscode

__pycache__
.pytest_cache

/build
/dist

*.spec


*.ini

*.egg-info

*.code-workspace

# exclude nicegui temp folder
/.nicegui

# exclude llm models
/resources

# test html files from plotlify
/tests/**/plotly_*.html
/tests/**/plotlifyservice_*.html
/tests/**/test_*.html

# test docx files
/tests/**/*test*.docx

# test images
/tests/**/*test_*.jpg
/tests/**/*test_*.jpeg
/tests/**/*test_*.png

# test *.zip files
/tests/**/*.zip

# test video files
/tests/**/*test*.mp4
/tests/**/*test*.avi

# test ical files
/tests/**/*test*.ics
/tests/**/*test*.ical

# test sqlite files
/tests/**/*test*.sqlite


# ignore csv test files
/tests/**/*test*.csv


# ignore txt test files
/tests/**/test_*.txt
/tests/**/Test_*.txt


# ignore PDF test files
/tests/**/*test_*.pdf
/tests/**/*Test_*.pdf

# ignore test step files
/tests/**/*test*.stp
/tests/**/*test_*.step

# ignore test log files
*test*.log

# .save folder for agent persistence
.save/