pytest
matplotlib
loguru
PyYAML
numpy
pandas
fastapi[standard]
APScheduler
#pychrono
opcua
#pyads
#sounddevice
paho-mqtt
urllib3
jsonpath-ng
#python-snap7
websocket-client
pyserial
influxdb-client
#pyodbc
openpyxl
pypdf
PyMuPDF
unstructured[all-docs]
watchdog
cadquery
#cq-editor
vobject
psutil
docxtpl
bs4
lxml
selenium
msal
#pdf2image
pytesseract
pillow
mistralai
numba
torch
sktime
seaborn
tirex-ts @ git+https://github.com/NX-AI/tirex
chronos-forecasting
librosa
ross-rotordynamics
langgraph<1
langchain-ollama
langchain-chroma
langchain-unstructured
langchain-tavily
langchain[huggingface,openai,all]
sentence-transformers
langchain_text_splitters
langchain_community
graphviz
